@import "partials/params";
@import "partials/mixins";

.content{
	display: flex;
	margin-top: 75px;
	margin-bottom: 80px;
	&__left{
		border-right: 1px solid;
		border-color: rgba(145, 145, 145, 0.1);
		padding-right: 25px;
		flex: 0 0 330px;
		box-sizing: border-box;

	}
	&__menu{
		box-sizing: border-box;
		margin-bottom: 30px;
		& .menu__items{
			@include clear-list;
		}
		& .menu__item{
			margin-top: 40px;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-top: 25px;
			}

		}
		& .menu__link{
			font-size: 16px;
			&-notice{
				border: 1px solid;
				border-color: rgba(83, 86, 90, 0.2);
				padding: 14px 22px 12px;
				width: 280px;
				box-sizing: border-box;
				color: #53565a;
				position: relative;
				left: -23px;
				display: block;
				border-radius: 23px;
				position: relative;
			}
		}
		& .menu__icon{
			position: absolute;
			width: 20px;
			height: 20px;
			background: $color-link;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;	
			right: -6px;
			top: -6px;
			color: #fff;
			font-family: "Vida 33 Pro";
			font-size: 13px;
		}
	}
	&__info{
		border-top: 1px solid;
		border-color: rgba(145, 145, 145, 0.1);
		padding: 40px 0;
		& .info__header{
			color: #893b67;
			font-family: "Vida 33 Pro";
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 10px;
		}
		& .info__text{
			color: #000000;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
		& .info__description{
			display: flex;
			justify-content: space-between;
		}
		& .info__go{
			color: #893b67;
			font-family: "Vida 33 Pro";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			img{
				width: 20px;
				height: 20px;
				position: relative;
				top: 6px;
				padding-left: 6px;
			}
		}
	}
	&__mobile-notice{
		display: none;
	}
	&__notice{
		flex: 1 1 auto;
		padding-left: 40px;
	}
}

.notice{
	&__header{
		color: #414141;
		font-family: "Vida 33 Pro";
		font-size: 36px;
		font-weight: 400;
		margin-bottom: 40px;
	}
	&__item{
		border-radius: 5px;
		border: 1px solid $content-bg;
		background-color: #ffffff;
		padding: 30px;
		margin-bottom: 25px;
		&.active{
			background-color: #fcfcfc;
			.notice__description{
				display: block;
			}
		} 
	}
	&__date{
		background-color: $content-bg;
		color: #000000;
		font-family: "Vida 31 Pro";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		display: inline-block;
		padding: 5px;
		margin-bottom: 30px;
		border-radius: 3px;
	}

	&__info{
		display: flex;
		justify-content: space-between;
	}

	&__title{
		opacity: 0.8;
		color: #000000;
		font-family: "Vida 33 Pro";
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		padding-right: 20px;
	}
	&__description{
		margin-top: 18px;
		color: #5a5a58;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		display: none;
	}
	&__btn{
		width: 24px;
		height: 24px;
		border: 1px solid #000000;
		background: #fff;
		opacity: 0.4;
		color: #000000;
		cursor: pointer;
		border-radius: 50%;
		font-size: 20px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: relative;
	    bottom: 10px;
	    transition: all 0.5s ease;
	    &.active{
	    	border-color: $color-link;
	    	background: $color-link;
	    	transform: rotate(180deg);
	    	opacity: 1;
	    	color: #fff;
	    }
		&:focus{
			outline: none;
		}
	}
}
@media only screen and (max-width : 768px){
	.content{
		flex-wrap: wrap;
		&__left{
			flex: 0 0 100%;
			border: 0;
			padding-right: 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__menu{
			display: none;
		}
		&__notice{
			flex: 0 0 100%;
		}
		&__info{
			border: 0;
			width: 45%;
		}
		&__mobile-notice{
			display: block;
			border: 1px solid;
			border-color: rgba(83, 86, 90, 0.2);
			padding: 14px 22px 12px;
			box-sizing: border-box;
			color: #53565a;
			display: block;
			border-radius: 23px;
			font-size: 16px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			position: relative;
			span{
				position: absolute;
				width: 20px;
				height: 20px;
				background: $color-link;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;	
				left: 115px;
				top: -6px;
				color: #fff;
				font-family: "Vida 33 Pro";
				font-size: 13px;
			}
		}

		&__notice{
			padding-left: 0;
		}

	}
	.notice{
		&__header{
			font-size: 32px;
		}
	}
}
@media only screen and (max-width : 640px){
	.notice{
		&__header{
			font-size: 30px;
		}
	}
}