@import "partials/params";
@import "partials/mixins";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/slick-carousel/slick/slick.scss";

@font-face {
	font-family: 'Vida 31 Pro';
	src: url("/fonts/vida31pro.otf") format("opentype");
}

@font-face {
	font-family: 'Vida 33 Pro';
	src: url("/fonts/vida33pro.otf") format("opentype");
}

html, body{
	@include clear;
	width: 100%;
	height: 100%;	
	font-family: 'Vida 31 Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	@include clear;
	font-weight: 400;
}
a{
	color: $color-link;
	text-decoration: none;
}
.view-port{
	margin-left: auto;
	margin-right: auto;
	max-width: $view-port;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}
.view-port-header{
	margin-left: auto;
	margin-right: auto;
	max-width: $view-port-header;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}
.wrapper{
	display: flex;
  	flex-direction: column;
  	height: 100%;
}
.main{
	flex: 1 0 auto;
}
.footer{
	 flex: 0 0 auto;
}
.show-sm{
	display: none;
}
@media only screen and (max-width : 979px){
	.hidden-sm{
		display: none;
	}
	.show-sm{
		display: block;
	}
}
@media only screen and (max-width : 767px){
	.hidden-xs{
		display: none;
	}
}
