@import "partials/params";
@import "partials/mixins";

.mobile-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
	&__close{
		position: absolute;
		top: 30px;
		right: 25px;
		cursor: pointer;
	}
	&__logo{
		margin-bottom: 115px;
		display: inline-block;
		cursor: pointer;
	}
	&__menu{
		@include clear-list;
		margin-bottom: 115px;
	}
	&__item{
		margin-bottom: 35px;

	}
	&__link{
		font-size: 24px;
		display: block;
	}
	&__comparison{
		margin-bottom: 46px;
		& .comparison__text{
			font-size: 24px;
		}
	}
	&__account{
		font-size: 24px;
		margin-bottom: 65px;
	}
	&__phone{
		font-size: 40px;
		margin-left: 0;
	}
}